/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}
 */


 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
 }

 div {
  padding: 2rem;
 }

 h1 {
  padding: 4rem 1rem;
  text-align: center;
  font-size: 15rem;
 }

 .get_started{
  text-align: center;
  padding: 8rem;
 }

 .welcome {
  text-align: center;
  font-size: 2rem;
 }


 nav {
  text-align: center;
 }

 form {
  text-align: center; 
  padding: 1rem;
 }

