/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}
 */


 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
 }

 html {
  scroll-behavior: smooth;
 }

 div {
  padding: 2rem;
 }

 h1 {
  padding: 4rem 1rem;
  text-align: center;
  font-size: 15rem;
  font-family: 'Pacifico';
 }

 .get_started{
  text-align: center;
  padding: 8rem;
 }

 .welcome {
  text-align: center;
  font-size: 2rem;
 }


 nav {
  text-align: center;
 }

 form {
  text-align: center; 
  padding: 1rem;
 }

/* ------------------------  NAV BAR --------------------- */
.navigation {
  text-decoration: none;
  padding:2rem;
  
}

.vh-100{
  height: 100vh
}
.vh-60{
  height: 60vh
}
.vh-50{
  height: 50vh
}

/* ------------------------  FORM  --------------------- */

.form-container label {
  display: block;     /* This will make each label occupy its own line */
  margin-bottom: 10px; /* Space between the elements */
}

.form-container button {
  display: block;
  margin-top: 20px;  /* Space between the last input and the button */
}

input {
  height: 4rem;
  width: 20rem;
  border-radius: 5rem;
}


/* ------------------------  PLAYLIST CARD  --------------------- */

/* IndividualPlaylist.css */

.playlists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.playlist-card {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Media Query for larger screens */
@media (min-width: 600px) {
  .playlists-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.playlist-card h2 {
  margin-bottom: 10px;
}
