html {
    scroll-behavior: smooth;
   }


  
div {
    padding: 2rem;
   }
  

  
.get_started{
    text-align: center;
    padding: 8rem;
   }
  
.welcome {
    text-align: center;
    font-size: 2rem;
   }
  
  
nav {
    text-align: center;
   }
  
form {
    text-align: center; 
    padding: 1rem;
    margin: 13rem;
   }


.form-section {
    background-color: rgb(242, 209, 147);
}
/* ---------------- BUTTONS---------------- */

/* this is animating start button */
.blob { 
    background : rgb(82, 14, 165);
    border-radius: 50%;
    margin: 10px;
    height: 20px;
    width: 20px;

    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(15, 109, 190, 0.7)
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0,0,0,0)
    }

    100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


   /* ---------------------MEDIA QUERY ------------------- */

   @media all and (max-width: 1321px){
    h1 {
        color: pink;
        font-size: 10rem;
    }
   }


   @media all and (max-width: 390px){
    h1 {
        color: pink;
        font-size: 5rem;
        line-height: 5rem;
    }
   }

   @media all and (max-width: 425px){
    h1 {
        color: pink;
        font-size: 5rem;
        line-height: 5rem;
    }
   }